[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
django-cors-headers = "*"
djoser = "*"
drf-spectacular = "*"
python-decouple = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.12"
